body {
   background-color:#d8e5f5;
   text-align: center;
   font-style: unset;
   font-size: 25px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#shrek {
    width: 40px;
}

#lana {
    color: #3CB371;
}

#icon { width: 250px;
}

img , p {
    display: inline-block;
}

.descriptions {
    font-weight: bold;
}